@import "tailwindcss";

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto px-10;
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInDown {
    animation: fadeInDown 0.3s ease-out;
  }
}

@theme {
  --color-radiance-50: #eff8ff;
  --color-radiance-100: #daf0ff;
  --color-radiance-200: #bde5ff;
  --color-radiance-300: #90d6ff;
  --color-radiance-400: #5cbdfe;
  --color-radiance-500: #369ffb;
  --color-radiance-600: #1f80f0;
  --color-radiance-700: #186add;
  --color-radiance-800: #1a55b3;
  --color-radiance-900: #1b4a8d;
  --color-radiance-950: #152e56;
}

#header {
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

#header-img {
  clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
}

#header-img-sm {
  clip-path: polygon(0% 45%, 100% 0%, 100% 85%, 0% 100%);
}


#footer {
  clip-path: polygon(0 0,100% 49%,100% 100%,0% 100%)
}
